<!DOCTYPE html> <!--das ist eine html5 datei (5 version)-->
<html lang="de">    <!--sprache-->
<head>
    <meta charset="UTF-8">  <!--damit umlaute funktionieren (zeichenkodierung mit breiter palette aus vers sprachen) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--skalierung für verschiedene geräte (viewport sichtbarer bereich einer webseite)-->
    <title>TravleMate</title> <!--initial scale anfänglicher zoomfaktor der seite bei 0 -->

    <style>
        body {
            front-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>

</head>


<!-- Quelle https://html.carl-orff-gym.de/html/aufbau-einer-html-seite/
https://askai.glarity.app/de/search/Wie-kann-man-Notizen-in-HTML-einf%C3%BCgen -->