<!DOCTYPE html> <!--das ist eine html5 datei (5 version)-->
<html lang="de">    <!--sprache-->
<head>
    <meta charset="UTF-8">  <!--damit umlaute funktionieren (zeichenkodierung mit breiter palette aus vers sprachen) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--skalierung für verschiedene geräte (viewport sichtbarer bereich einer webseite)-->
    <title>TravelMate</title> <!--initial scale anfänglicher zoomfaktor der seite bei 0 -->

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"> <!--holt bootstrap styling datei aus dem internet + prüft ob die datei nicht verändert wurde + erlaubt dem browser von einer anderen domain zu laden --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <--!die icons--> 
</head> 

<!-- Quellen
basics  https://html.carl-orff-gym.de/html/aufbau-einer-html-seite/
notizen https://askai.glarity.app/de/search/Wie-kann-man-Notizen-in-HTML-einf%C3%BCgen 
Icons   https://icons.getbootstrap.com/
bootstrap https://getbootstrap.com/docs/5.3/getting-started/download/
--> 

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-4"> 
        <div class="container">
            <a class="navbar-brand" href="#"> <!-- platzhalter für link für #-->
                <i class="bi bi-airplane"></i> TravelMate
            </a>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="#">Trips finden</a> <!-- TRIPS LINK - link zur trip-suche PLATZHALTER-->
<!--Quellen  
    https://getbootstrap.com/docs/4.0/components/navbar/
    https://mdbootstrap.com/docs/standard/navigation/navbar/
-->
            {% if current_user.is_authenticated %}
                    <!--eingeloggt -->
                    <a class="nav-link" href="#">Dashboard</a>
                    <a class="nav-link" href="#">Mein Profil</a>
                    <a class="nav-link text-warning" href="#">Logout</a>
                {% else %}
                    <!--nicht eingeloggt -->
                    <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Registrieren</a>
                {% endif %}

<!-- Quellen

-->
            </div>
        </div>
    </nav>

    <div class="container"> <!-- für flash massages-->
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> <!--alert box zeigt automatisch nachricht wie erfolgreich registriert zb-->
                            {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                     {% endfor %}
                 {% endif %}
        {% endwith %}


        <!-- ===== COMMIT 4 START: Content Block ===== -->
        {% block content %}{% endblock %}
        <!-- ===== COMMIT 4 END: Content Block ===== -->
    </div>

    <footer class="text-center mt-5 mb-3 text-muted">
        <small>TravelMate &middot; Projektarbeit</small>
    </footer>

    <!--bootstrap js für interaktive elemente wie zb die alerts vorhin-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>