{% extends "base.html" %} <!--übernimmt grundgerüst von basehtml -->

{% block content %} <!--alles zwischen block und endblock wird in den content bereich der base eingefügt -->
<div class="container mt-5 mb-5">   <!--container zentriert den inhalt m margin außenabstand t top oben b bottom unten 5 größe des abstandes -->

    <!-- zurück-button -->
    <a href="{{ session.get('last_trips_url', url_for('trips.trips_list')) }}" class="btn btn-outline-secondary mb-4"> <!--href hypertext reference also wohin der link führt-->
        ← Zurück zur Übersicht
    </a>        <!-- a anker also link -->

<!--quellen
flask session       https://flask.palletsprojects.com/en/3.0.x/api/#flask.session
dict get fallback   https://docs.python.org/3/library/stdtypes.html#dict.get
url_for             https://flask.palletsprojects.com/en/3.0.x/api/#flask.url_for
-->



    <!-- trip hauptkarte -->
    <div class="card shadow-sm">        <!-- die karte bekommt einen kleinen schatten -->
        <div class="card-body p-4">     <!-- padding innenabstand damit es nicht am rand klebt-->

            <!-- titel -->
            <h2 class="card-title mb-1">{{ trip.destination.city }}</h2> <!--durch variable trip auf eigenschaften zugegriffen-->
            <span class="badge bg-secondary mb-3">{{ trip.continent }}</span>

            <!-- infos -->
            <div class="row mt-3">          <!--row zeile im bootstrap raster mt abstand oben -->
                <div class="col-md-6">      <!--6 spalten recht und 6 links-col spalte md ab mittlerer bildschirmgröße 6 von 12 spalten-->
                    <p><strong>Reisestil:</strong> {{ trip.travel_style.name }}</p> <!--der name des styles vom jeweiligem trip -->
                    <p><strong>Startdatum:</strong> {{ trip.start_date }}</p>
                    <p><strong>Enddatum:</strong> {{ trip.end_date }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Budget:</strong> {{ trip.budget_min }}€ – {{ trip.budget_max }}€</p>
                    <p><strong>Freie Plätze:</strong> {{ trip.max_participants }}</p>
                    <p><strong>Host:</strong> {{ trip.host.first_name }} {{ trip.host.last_name }}</p>
                </div>
            </div>

            <!-- beschreibung -->
            {% if trip.description %}   <!--gibt es überhaupt eine beschreibung ?-->
            <hr>
            <h5>Beschreibung</h5>
            <p>{{ trip.description }}</p>   <!--zeigt den text p=paragraph-->
            {% endif %}

            <!-- bewerben button -->
            <hr>            <!--horizontale trennlinie -->
                <a href="{{ url_for('applications.apply', trip_id=trip.t_id) }}" class="btn btn-primary">
                    Bewerben
                </a>

        </div>
    </div>

</div>
{% endblock %}

<!-- quellen
template vorbereitung       https://jinja.palletsprojects.com/en/3.1.x/templates/#template-inheritance
verweis auf                 https://flask.palletsprojects.com/en/3.0.x/api/#flask.url_for
bootstrap card shadow sm    https://getbootstrap.com/docs/5.3/components/card/
grid row col-md-6           https://getbootstrap.com/docs/5.3/layout/grid/
if schleife jinja2          https://jinja.palletsprojects.com/en/3.1.x/templates/#if
variablen aus models        https://jinja.palletsprojects.com/en/3.1.x/templates/#variables
flask session       https://flask.palletsprojects.com/en/3.0.x/api/#flask.session
dict get fallback   https://docs.python.org/3/library/stdtypes.html#dict.get
url_for             https://flask.palletsprojects.com/en/3.0.x/api/#flask.url_for
-->