{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center mb-5 mt-5">       <!-- suchleiste -->
        <div class="col-md-10">
            <form action="{{ url_for('trips.trips_list') }}" method="GET">
                <div class="input-group input-group-lg">
                    <input type="text" name="destination" class="form-control" 
                       placeholder="Wohin möchtest du reisen? z.B. Tokyo"
                        value="{{ destination }}">
                    <button class="btn btn-dark" type="submit">
                        <i class="bi bi-search"></i> Suchen
                    </button>
                </div>
        </div>
    </div>

<!--quellen
justify content https://getbootstrap.com/docs/5.0/utilities/flex/
grid system     https://getbootstrap.com/docs/5.0/layout/grid/
columns col-md  https://stackoverflow.com/questions/24175998/meaning-of-numbers-in-col-md-4-col-xs-1-col-lg-2-in-bootstrap
input           https://getbootstrap.com/docs/5.3/forms/input-group/
value           https://jinja.palletsprojects.com/en/stable/templates/
                https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input#value
button          https://getbootstrap.com/docs/5.3/components/buttons/
-->


<!--filter-->
  <div class="row g-2">

                <!--kontinent-->
                <div class="col-md-3">
                    <select name="continent" class="form-select">
                        <option value="">Alle Kontinente</option>
                        {% for c in continents %}
                            <option value="{{ c }}" 
                                {% if continent == c %}selected{% endif %}>
                                {{ c }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                 <!--reisestil-->
                <div class="col-md-3">
                    <select name="travel_style_id" class="form-select">
                        <option value="">Alle Reisestile</option>
                        {% for ts in travel_styles %}
                            <option value="{{ ts.ts_id }}"
                                {% if travel_style_id == ts.ts_id|string %}selected{% endif %}>
                                {{ ts.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                 <!--budget-->
                <div class="col-md-3">
                    <input type="number" name="budget_min" class="form-control"
                           placeholder="Budget von (€)"
                           value="{{ budget_min }}">
                </div>

                <div class="col-md-3">
                    <input type="number" name="budget_max" class="form-control"
                           placeholder="Budget bis (€)"
                           value="{{ budget_max }}">
                </div>

                <!-- datum -->
                <div class="col-md-3 mt-2">
                    <label class="form-label text-muted">
                        <small>Reise ab Datum:</small>
                    </label>
                    <input type="date" name="start_date" class="form-control"
                           value="{{ start_date }}">
                </div>

                 <!-- filter zurücksetzen -->
                <div class="col-md-3 mt-2 d-flex align-items-end">
                    <a href="{{ url_for('trips.trips_list') }}" 
                       class="btn btn-outline-dark w-100">
                        <i class="bi bi-x-circle"></i> Filter zurücksetzen
                    </a>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- quellen
bootstrap grid                  https://getbootstrap.com/docs/5.3/layout/grid/
abstand zwischen spalten g-2    https://getbootstrap.com/docs/5.3/layout/gutters/
form-select dropdown            https://getbootstrap.com/docs/5.3/forms/select/
grundstruktur  aelect           https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/select
grundstruktur option            https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option
jinja2 for if selected          https://jinja.palletsprojects.com/en/stable/templates/#for
ts.ts_id string jinja2 filter   https://jinja.palletsprojects.com/en/3.1.x/templates/#filters
form control input felder       https://getbootstrap.com/docs/5.3/forms/form-control/
flexbox d-flex align-items-end  https://getbootstrap.com/docs/5.3/utilities/flex/
icons bi-x-circle               https://icons.getbootstrap.com/icons/x-circle/
url_for jinja+flask             https://flask.palletsprojects.com/en/3.0.x/api/#flask.url_for
-->

<!--die cards container-->
<!--schleife damit keine fehlermeldung kommt falls es keinen solchen trip gibt sondern meldung-->
{% if destination %}
    <h4 class="mb-5 mt-5 ms-5">Suchergebnisse für: <strong>{{ destination }}</strong></h4>
{% else %}
    <h4 class="mb-5 mt-5 ms-5">Alle Trips</h4>
{% endif %}

{% if trips %}
    <div class="container">
        <div class="row justify-content-center">
            {% for trip in trips %}
                <div class="col-md-4 mb-4">  <!--col-md-4 weil bootstrap 12 spalten hat, 12:4=3 karten pro zeile-->
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-geo-alt"></i> 
                                {{ trip.destination.city }}
                            </h5>
                            <p class="text-muted mb-1">
                                <i class="bi bi-globe"></i> {{ trip.continent }}
                            </p>
                            <p class="text-muted mb-1">
                                <i class="bi bi-suitcase"></i> {{ trip.travel_style.name }}
                            </p>
                            <p class="text-muted mb-1">
                                <i class="bi bi-calendar"></i> 
                                {{ trip.start_date }} – {{ trip.end_date }}
                            </p>
                            <p class="text-muted mb-1">
                                <i class="bi bi-people"></i> 
                                Max. {{ trip.max_participants }} Personen
                            </p>
                            <p class="text-muted mb-3">
                                <i class="bi bi-currency-euro"></i> 
                                {{ trip.budget_min }} – {{ trip.budget_max }}
                            </p>
                                {% if trip.description %}
                            <p class="card-text">
                                <small>{{ trip.description }}</small>
                            </p>
                            {% endif %}

                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('trips.trip_detail', trip_id=trip.t_id) }}" class="btn btn-dark btn-sm w-100">
                                Details ansehen
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- quellen
schleife            https://jinja.palletsprojects.com/en/stable/templates/
card                https://getbootstrap.com/docs/5.3/components/card/
grid                https://getbootstrap.com/docs/5.3/layout/grid/   col-md-4 weil bootstrap 12 spalten hat, 12:4=3 karten pro zeile
icons               https://icons.getbootstrap.com/
farben              https://getbootstrap.com/docs/5.3/utilities/colors/
textgröße           https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/small
button btn          https://getbootstrap.com/docs/5.3/components/buttons/
zb trip.continent   https://jinja.palletsprojects.com/en/stable/templates/ variablen aus models.py ziehen
container           https://getbootstrap.com/docs/5.3/layout/containers/
url for jinja 2     https://flask.palletsprojects.com/en/3.0.x/api/#flask.url_for
-->

<!-- keine trips meldung -->
{% else %}
    <div class="container">
        <div class="alert alert-info">
            <i class="bi bi-info-circle"></i> 
            {% if destination %}
                Keine Trips gefunden für "<strong>{{ destination }}</strong>".
            {% else %}
                Noch keine Trips vorhanden.
            {% endif %}
        </div>
    </div>
{% endif %}

<!-- quellen
schleife    https://jinja.palletsprojects.com/en/stable/templates/#if
alert       https://getbootstrap.com/docs/5.3/components/alerts/
icons       https://icons.getbootstrap.com/icons/info-circle/
text dick   https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong
container   https://getbootstrap.com/docs/5.3/layout/containers/
-->
{% endblock %}